
@font-face {
  font-family: 'tmfont';  /* project id 291760 */
  src: url('//at.alicdn.com/t/font_e49rqa8n8uygmn29.eot');
  src: url('//at.alicdn.com/t/font_e49rqa8n8uygmn29.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_e49rqa8n8uygmn29.woff') format('woff'),
  url('//at.alicdn.com/t/font_e49rqa8n8uygmn29.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_e49rqa8n8uygmn29.svg#tmfont') format('svg');
}

.tmfont {
  font-family:"tmfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tm-icon-added:before { content: "\e702"; }

.tm-icon-bells:before { content: "\e703"; }

.tm-icon-adjust:before { content: "\e704"; }

.tm-icon-calculation:before { content: "\e705"; }

.tm-icon-calculator:before { content: "\e706"; }

.tm-icon-centralhospital:before { content: "\e707"; }

.tm-icon-circle:before { content: "\e708"; }

.tm-icon-camera:before { content: "\e709"; }

.tm-icon-center:before { content: "\e70a"; }

.tm-icon-clock:before { content: "\e70b"; }

.tm-icon-chat:before { content: "\e70c"; }

.tm-icon-clock2:before { content: "\e70d"; }

.tm-icon-communication:before { content: "\e70e"; }

.tm-icon-contacts:before { content: "\e70f"; }

.tm-icon-determine:before { content: "\e710"; }

.tm-icon-design:before { content: "\e711"; }

.tm-icon-database:before { content: "\e712"; }

.tm-icon-documentfinishing:before { content: "\e713"; }

.tm-icon-documentview:before { content: "\e714"; }

.tm-icon-documentreport:before { content: "\e715"; }

.tm-icon-doctors:before { content: "\e716"; }

.tm-icon-doubt:before { content: "\e717"; }

.tm-icon-download:before { content: "\e718"; }

.tm-icon-documentation:before { content: "\e719"; }

.tm-icon-dropout:before { content: "\e71a"; }

.tm-icon-edit:before { content: "\e71b"; }

.tm-icon-edit4:before { content: "\e71c"; }

.tm-icon-edit3:before { content: "\e71d"; }

.tm-icon-edcbuilding:before { content: "\e71e"; }

.tm-icon-edit2:before { content: "\e71f"; }

.tm-icon-experimentequipment:before { content: "\e720"; }

.tm-icon-file:before { content: "\e721"; }

.tm-icon-experiment:before { content: "\e722"; }

.tm-icon-folderempty:before { content: "\e723"; }

.tm-icon-experimentalreport:before { content: "\e724"; }

.tm-icon-hexagon:before { content: "\e725"; }

.tm-icon-homeline:before { content: "\e726"; }

.tm-icon-folderupdate:before { content: "\e727"; }

.tm-icon-folder:before { content: "\e728"; }

.tm-icon-folderset:before { content: "\e729"; }

.tm-icon-information:before { content: "\e72a"; }

.tm-icon-home:before { content: "\e72b"; }

.tm-icon-Inquire:before { content: "\e72c"; }

.tm-icon-image:before { content: "\e72d"; }

.tm-icon-injection:before { content: "\e72f"; }

.tm-icon-list:before { content: "\e730"; }

.tm-icon-install:before { content: "\e731"; }

.tm-icon-key:before { content: "\e732"; }

.tm-icon-lock:before { content: "\e733"; }

.tm-icon-logtravel:before { content: "\e734"; }

.tm-icon-medicalreport:before { content: "\e735"; }

.tm-icon-mine:before { content: "\e736"; }

.tm-icon-medicine:before { content: "\e737"; }

.tm-icon-monitor:before { content: "\e738"; }

.tm-icon-medicine2:before { content: "\e739"; }

.tm-icon-patient:before { content: "\e73a"; }

.tm-icon-more:before { content: "\e73b"; }

.tm-icon-photography:before { content: "\e73c"; }

.tm-icon-personadd:before { content: "\e73d"; }

.tm-icon-project:before { content: "\e73e"; }

.tm-icon-phone:before { content: "\e73f"; }

.tm-icon-personset:before { content: "\e740"; }

.tm-icon-qrcode:before { content: "\e741"; }

.tm-icon-project1:before { content: "\e742"; }

.tm-icon-refresh:before { content: "\e743"; }

.tm-icon-refresh2:before { content: "\e744"; }

.tm-icon-report:before { content: "\e745"; }

.tm-icon-seal:before { content: "\e746"; }

.tm-icon-shutdown:before { content: "\e747"; }

.tm-icon-ring:before { content: "\e748"; }

.tm-icon-remind:before { content: "\e749"; }

.tm-icon-scale:before { content: "\e74a"; }

.tm-icon-settings:before { content: "\e74b"; }

.tm-icon-smiling:before { content: "\e74c"; }

.tm-icon-signal:before { content: "\e74d"; }

.tm-icon-update:before { content: "\e74e"; }

.tm-icon-time:before { content: "\e74f"; }

.tm-icon-thumbs:before { content: "\e750"; }

.tm-icon-treatment:before { content: "\e751"; }

.tm-icon-usergroup:before { content: "\e752"; }

.tm-icon-user2:before { content: "\e753"; }

.tm-icon-user:before { content: "\e754"; }

.tm-icon-userportrait:before { content: "\e755"; }

.tm-icon-visit:before { content: "\e756"; }

.tm-icon-voice:before { content: "\e757"; }

.tm-icon-bianjijiangshi1:before { content: "\e602"; }

.tm-icon-dingdanguanli:before { content: "\e603"; }

.tm-icon-fabu:before { content: "\e604"; }

.tm-icon-chanpinguanli:before { content: "\e605"; }

.tm-icon-danpinkechengguanli:before { content: "\e606"; }

.tm-icon-jiangshiguanli:before { content: "\e607"; }

.tm-icon-quxiao:before { content: "\e608"; }

.tm-icon-jiaowuguanli:before { content: "\e609"; }

.tm-icon-xiaoxitishi:before { content: "\e60a"; }

.tm-icon-pingjiaguanli:before { content: "\e60b"; }

.tm-icon-shitiku:before { content: "\e60c"; }

.tm-icon-shijuanguanli:before { content: "\e60d"; }

.tm-icon-xuanzetupian:before { content: "\e60e"; }

.tm-icon-zhuxiao:before { content: "\e60f"; }

.tm-icon-xuexijiluguanli:before { content: "\e610"; }

.tm-icon-xinjian:before { content: "\e611"; }

.tm-icon-xitongguanli:before { content: "\e612"; }

.tm-icon-calculator1:before { content: "\e72e"; }

.tm-icon-bitian:before { content: "\e613"; }

.tm-icon-sousuo:before { content: "\e614"; }

.tm-icon-home1:before { content: "\e625"; }

.tm-icon-get-app:before { content: "\e626"; }

.tm-icon-exit:before { content: "\e627"; }

.tm-icon-date-range:before { content: "\e628"; }

.tm-icon-export:before { content: "\e629"; }

.tm-icon-check-box-outline-bl:before { content: "\e62a"; }

.tm-icon-check-box:before { content: "\e62b"; }

.tm-icon-cancel:before { content: "\e62c"; }

.tm-icon-close:before { content: "\e62d"; }

.tm-icon-cloud-upload:before { content: "\e62e"; }

.tm-icon-arrow-drop-down:before { content: "\e62f"; }

.tm-icon-arrow-drop-up:before { content: "\e630"; }

.tm-icon-help:before { content: "\e631"; }

.tm-icon-add-circle:before { content: "\e632"; }

.tm-icon-visibility:before { content: "\e633"; }

.tm-icon-search:before { content: "\e634"; }

.tm-icon-remove-circle:before { content: "\e635"; }

.tm-icon-user1:before { content: "\e636"; }

.tm-icon-person:before { content: "\e637"; }

.tm-icon-password:before { content: "\e638"; }

.tm-icon-import:before { content: "\e639"; }

.tm-icon-layer:before { content: "\e63a"; }

.tm-icon-pointer:before { content: "\e63b"; }
.tm-icon-success:before { content: "\e63f"; }

.tm-icon-arrow-right:before { content: "\e640"; }

.tm-icon-arrow-left:before { content: "\e641"; }

.tm-icon-doc:before { content: "\e643"; }

.tm-icon-bmp:before { content: "\e644"; }

.tm-icon-jpg:before { content: "\e645"; }

.tm-icon-jpeg:before { content: "\e646"; }

.tm-icon-gif:before { content: "\e647"; }

.tm-icon-ppt:before { content: "\e648"; }

.tm-icon-png:before { content: "\e649"; }

.tm-icon-pdf:before { content: "\e64a"; }

.tm-icon-pptx:before { content: "\e64b"; }

.tm-icon-docx:before { content: "\e64c"; }

.tm-icon-xls:before { content: "\e64d"; }

.tm-icon-xlsx:before { content: "\e64e"; }

