@import "../../css/modules/variable";

.document-manager{
    height: 100%;
    .document-main{
        width: 100%;
        height: 100%;
        display: flex;
        border: 1px solid @borderColor;
        background-color: #fff;
        .document-menu{
            flex:0 0 220px;
            .menu-list{
                display: flex;
                flex-direction: column;
                height: 100%;
                .menus{
                    flex:0 0 60px;
                    .ant-menu{
                        .ant-menu-item{
                            height: 30px;
                            line-height: 30px;
                            font-size: @font-size-default;
                            .anticon{
                                vertical-align: initial;
                            }
                            &:hover{
                                background-color: #e1f3ff;
                            }
                        }
                    }
                }
                .trees{
                    flex: 1;
                    height: 100%;
                    overflow-y: auto;
                    border-right: 1px solid #e9e9e9;
                }
            }
        }
        .document-table{
            flex: 1;
            .right-table{
                display: flex;
                flex-flow: column;
                height: 100%;
                .right-title{
                    flex-shrink:0;
                    height: 50px;
                    line-height: 50px;
                    border-bottom: 1px solid #ddd;
                    padding-left: 20px;
                    .document-btns{
                        display: inline-block;
                        button{
                            margin-right: 10px;
                        }
                    }
                    .document-search{
                        float: right;
                        margin-right: 10px;
                    }
                    
                }
                .right-main{
                    flex-grow: 1;
                    height: 100%;
                    // .ant-table-scroll{
                    //     .ant-table-header{
                    //         margin: 0!important;
                    //         overflow: hidden;
                    //     }
                    //     .ant-table-body{
                    //         overflow-y:auto!important;
                    //     }
                    // }
                }
            }
        }
    }
}
